{% for itr_one in latest_news %}
    <section class="Carousel mt-5 mb-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active text-center center mt-4">
                    <div class="user col-md-12 col-lg-12 mt-5">
                        <div class="user_image">
                            <a href="{% url 'preview' id=itr_one.id %}">                        
                                <img style = "width: 1155px; height: 564px;"  src="../../static/{{itr_one.image_one}}" title="">
                            </a>
                            <div class="carousel-content">                            
                                <li class="content2">{{itr_one.heading_one}}</li>                                                        
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="carousel-item text-center center mt-5">
                    <div class="user col-md-12 col-lg-12 mt-5">
                        <div class="user_image">
                            <a href="{% url 'preview' id=itr_one.id %}">
                                <img style = "width: 1155px; height: 564px;"  src="../../static/{{itr_one.image_two}}" title="">
                            </a>
                            <div class="carousel-content">
                                <li class="content2">{{itr_one.heading_two}}</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item text-center center mt-5">
                    <div class="user col-md-12 col-lg-12 mt-5">
                        <div class="user_image">
                            <a href="{% url 'preview' id=itr_one.id %}">
                                <img style = "width: 1155px; height: 564px;" src="../../static/{{itr_one.image_three}}" title="">
                            </a>
                            <div class="carousel-content">
                                <li class="content2">{{itr_one.heading_three}}</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item text-center center mt-5">
                    <div class="user col-md-12 col-lg-12 mt-5">
                        <div class="user_image">
                            <a href="{% url 'preview' id=itr_one.id %}">
                                <img style = "width: 1155px; height: 564px;" src="../../static/{{itr_one.image_four}}" title="">
                            </a>
                            <div class="carousel-content">
                                <a href=""><li class="content2">{{itr_one.heading_one}}</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item text-center center mt-5">
                    <div class="user col-md-12 col-lg-12 mt-5">
                        <div class="user_image">
                            <a href="{% url 'preview' id=itr_one.id %}">
                                <img style = "width: 1155px; height: 564px;" src="../../static/{{itr_one.image_five}}" title="">
                            </a>
                            <div class="carousel-content">
                                <li class="content2">{{itr_one.heading_two}}</li>
                            </div>
                        </div>
                    </div>
                </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
{% endfor %}